# Notes Before You Start
**Note 1:** I use the library "beaapi" to download the BEA data. You can replicate the conda environment I used in this project by using the [Environment File](ImmigrationTfp.yml). See the [Conda documentation](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#creating-an-environment-from-an-environment-yml-file) for how to create a Conda environment from a .yml file.

**Note 2:** If you just cloned this Repo, you won't have the "MyCredentials.py" file. Make sure to create this file and in it create a dictionary with the field "BeaApiKey" where you store your own API Key.

In [26]:
import beaapi
import pandas as pd
from Credentials import *
from Functions import *

In [8]:
list_of_sets = beaapi.get_data_set_list(MyCredentials["BeaApiKey"])
display(list_of_sets)  # Note the last dataset is only for speeding up metadata queries

                DatasetName                                 DatasetDescription
0                      NIPA                               Standard NIPA tables
1        NIUnderlyingDetail               Standard NI underlying detail tables
2                       MNE                          Multinational Enterprises
3               FixedAssets                       Standard Fixed Assets tables
4                       ITA                International Transactions Accounts
5                       IIP                  International Investment Position
6               InputOutput                                  Input-Output Data
7             IntlServTrade                       International Services Trade
8               IntlServSTA  International Services Supplied Through Affili...
9             GDPbyIndustry                                    GDP by Industry
10                 Regional                                 Regional data sets
11  UnderlyingGDPbyIndustry                         Underlying GDP by Industry
12       APIDatasetMetaData                  Metadata about other API datasets

In [9]:
list_of_params = beaapi.get_parameter_list(MyCredentials['BeaApiKey'], 'Regional')
display(list_of_params)

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,MultipleAcceptedFlag,ParameterDefaultValue
0,GeoFips,string,Comma-delimited list of 5-character geographic...,1,1,<NA>
1,LineCode,integer,Line code for a statistic or industry,1,0,<NA>
2,TableName,string,Regional income or product table to retrieve,1,0,
3,Year,string,Comma-delimted list of years; LAST5 for latest...,0,1,LAST5

In [10]:
list_of_param_vals = beaapi.get_parameter_values(MyCredentials['BeaApiKey'], 'Regional', 'TableName')
display(list_of_param_vals)

           Key                                               Desc
0       CAGDP1  County and MSA gross domestic product (GDP) su...
1      CAGDP11        Contributions to percent change in real GDP
2       CAGDP2  Gross domestic product (GDP) by county and met...
3       CAGDP8  Chain-type quantity indexes for real GDP by co...
4       CAGDP9           Real GDP by county and metropolitan area
..         ...                                                ...
80     SQINC7H        Wages and salaries by industry (historical)
81     SQINC7N               Wages and salaries by NAICS industry
82     SQINC7S                 Wages and salaries by SIC industry
83  TASUMMARY1  Summary of GDP and components for U.S. territo...
84  TASUMMARY2  Summary of real GDP and components for U.S. te...

[85 rows x 2 columns]

In [18]:
list_of_params = beaapi.get_parameter_list(MyCredentials['BeaApiKey'], 'Regional')
display(list_of_params)

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,MultipleAcceptedFlag,ParameterDefaultValue
0,GeoFips,string,Comma-delimited list of 5-character geographic...,1,1,<NA>
1,LineCode,integer,Line code for a statistic or industry,1,0,<NA>
2,TableName,string,Regional income or product table to retrieve,1,0,
3,Year,string,Comma-delimted list of years; LAST5 for latest...,0,1,LAST5

In [19]:
list_of_param_vals = beaapi.get_parameter_values(MyCredentials['BeaApiKey'], 'Regional', 'GeoFips')
display(list_of_param_vals)

        Key                                        Desc
0     00000                               United States
1     00998        United States (Metropolitan Portion)
2     00999     United States (Nonmetropolitan Portion)
3     01000                                     Alabama
4     01001                                 Autauga, AL
...     ...                                         ...
4450  97998       Rocky Mountain (Metropolitan Portion)
4451  97999  Rocky Mountain (Nonmetropolitan Portion) *
4452  98000                                    Far West
4453  98998             Far West (Metropolitan Portion)
4454  98999        Far West (Nonmetropolitan Portion) *

[4455 rows x 2 columns]

In [23]:
# Make an API call to retreive Current Dollar GDP from 2001 to 2023 (all data that is available)
Data_Tbl = beaapi.get_data(MyCredentials['BeaApiKey'], datasetname='Regional', TableName='CAGDP2', LineCode=1,
                           GeoFips='COUNTY',Year='ALL')

In [24]:
display(Data_Tbl.set_index(Data_Tbl.attrs['index_cols']).head(5))

                                 GeoName               CL_UNIT  UNIT_MULT  \
Code     GeoFips TimePeriod
CAGDP2-1 01001   2001        Autauga, AL  Thousands of dollars          3
                 2002        Autauga, AL  Thousands of dollars          3
                 2003        Autauga, AL  Thousands of dollars          3
                 2004        Autauga, AL  Thousands of dollars          3
                 2005        Autauga, AL  Thousands of dollars          3

                             DataValue NoteRef
Code     GeoFips TimePeriod
CAGDP2-1 01001   2001           760973    <NA>
                 2002           800045    <NA>
                 2003           834208    <NA>
                 2004           984461    <NA>
                 2005          1015320    <NA>

In [27]:
Data_Tbl.to_csv(Paths['data'] + '/GdpByCounty.csv')